@font-face {
  font-family: "Opensans";
  src:
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Opensans";
  src:
    url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  box-sizing: border-box;
  color: #000;
  font-family: "Opensans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  background: #e4e4e4 url("../img/fon.png") repeat;
}

a {
  font: inherit;
  color: #000;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.main-header {
  margin-bottom: 50px;
  padding-top: 20px;
}

.main-header__text {
  padding-top: 120px;
  text-align: center;
}

.main__title {
  margin-bottom: 70px;
  text-align: center;
}

.catalog__title {
  display: inline-block;
  margin-bottom: 10px;
  padding: 5px 10px 5px;
  border-radius: 10px;
}

.catalog__item:hover .catalog__title {
  background-color: #fff;
  transition: all .5s ease;
}

.catalog__item {
  margin-bottom: 50px;
}

.catalog__item-link {
  display: block;
}

.catalog__item-img {
  border-radius: 10px;
}

.main-footer__item {
  display: block;
  margin: 0;
  padding: 5px 0 5px;
  text-align: center;
  border-radius: 15px;
}

.main-footer .main-footer__item:hover {
  color: #000;
  text-decoration: none;
  background-color: #fff;
  transition: all .5s ease;
}

.main-footer {
  padding: 50px 0 50px;
}

@media (max-width: 768px) {
  .main-header {
    margin: 0;
  }

  .main-header__text {
    padding-top: 30px;
  }

  .main__title {
    margin-bottom: 30px;
  }

  .catalog__item {
    margin-bottom: 20px;
  }

  .main-footer {
    padding: 20px 0 20px;
  }
}
