body {
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

a {
  font: inherit;
  color: #fff;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #879eb0;
}

.main-header .container {
  display: flex;
  align-items: center;
  width: 100%;
}

.main-header__photo {
  width: 50%;
  border: 1px solid #879eb0;
  border-radius: 10px;
}

.main-header__text {
  flex-grow: 1;
  padding-left: 100px;
  text-align: left;
  color: #fff;
}

.main-title {
  width: 100%;
  margin-top: 50px;
  color: #fff;
  font-size: 42px;
  text-align: center;
}

.catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.catalog__item {
  flex-grow: 1;
  width: 48%;
  margin-right: 10px;
  padding-top: 20px;
  border-radius: 10px;
}

.catalog__title {
  display: inline-block;
  vertical-align: top;
  padding: 5px 10px;
  border-radius: 10px;
}

.catalog__item:hover .catalog__title {
  background-color: #fff;
  transition-duration: 1s;
}

.catalog__item-img {
  height: 480px;
  border: 1px solid #000;
  border-radius: 10px;
}

.catalog__item:nth-child(2n) {
  margin-right: 0;
}

.main-footer__contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  color: #fff;
  background-color: #3e6583;
  border-radius: 10px;
}

.main-footer__item {
  flex-grow: 1;
  padding: 20px 15px;
  text-align: center;
}

.main-footer__item--vk {
  font-size: 18px;
}

.main-footer__item:hover {
  background-color: #628baa;
  border-radius: 10px;
  transition-duration: 1s;
}

.main-footer__contacts p {
  margin: 0;
}

@media (max-width: 1149px) {
  .wrapper {
    width: 758px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .catalog__item-img {
    max-height: 350px;
  }

  .container {
    flex-wrap: wrap;
  }

  .main-header__text {
    flex-grow: 1;
    padding-left: 0;
    padding-top: 40px;
    text-align: center;
    color: #fff;
  }

  .main-header__photo {
    width: 100%;
    height: auto;
  }

  .main-header__text p {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .wrapper {
    width: 320px;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  .main-header .container {
    flex-wrap: wrap;
  }

  .main-header__photo {
    flex-grow: 1;
  }

  .main-header__text {
    flex-grow: 1;
    padding-top: 0;
    padding-left: 0;
    text-align: center;
  }

  .main-title {
    margin-top: 20px;
  }

  .catalog__title {
    display: none;
  }

  .catalog__item {
    width: 100%;
    margin-right: 0;
  }

  .catalog__item-img {
    max-height: 300px;
  }

  .main-footer__contacts {
    flex-wrap: wrap;
  }

  .main-footer__item {
    width: 100%;
  }
}
