* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul,li {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}

p,h1,h2,h3,h4,h5,h6,figure {
  margin: 0;
  padding: 0;
  border: 0;
}

button,a {
  padding: 0;
  border: none;
  outline: none;
}

input {
  border: 0;
  padding: 0;
}

td {
  padding: 0;
}

dl,dt,dd {
  margin: 0;
}

fieldset {
  padding: 0;
  margin: 0;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

::-webkit-input-placeholder {
  font-weight: 400;
  text-transform: none;
}

::-moz-placeholder {
  font-weight: 400;
  text-transform: none;
}

:-moz-placeholder {
  font-weight: 400;
  text-transform: none;
}

:-ms-input-placeholder {
  font-weight: 400;
  text-transform: none;
}

input {
  outline: none;
}

.hidden {
  display: none;
}

.page {
  width: 100%;
  min-width: 320px;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.75;
  font-family: "Opensans", sans-serif;
  overflow-x: hidden;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 70rem;
  height: 100vh;
  background: black url("../img/bg-1.jpg") no-repeat center;
  background-size: cover;
}

.header .container--bottom {
  width: 100%;
}

.header__logo {
  position: absolute;
  left: 10%;
  top: 15%;
}

.header__logo-icon {
  fill: #fff;
}

.header__logo-wrap {
  padding-left: .5rem;
  display: inline-block;
  vertical-align: top;
}

.header__logo-text {
  display: block;
  font-family: "Varela", sans-serif;
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: -0.1em;
  text-transform: uppercase;
}

.header__logo-text--top {
  display: inline-block;
  vertical-align: top;
  font-size: 2.6rem;
  font-weight: 800;
  font-family: inherit;
  line-height: 2rem;
  letter-spacing: 0;
}

.header__logo-decor {
  position: relative;
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.header__logo-decor::after {
  position: absolute;
  content: '';
  left: -8px;
  bottom: 2px;
  border: 7px solid transparent;
  border-right: 6px solid #196fc0;
}

.header__flex {
  width: auto;
  margin: auto;
  text-align: center;
}

.header__flex-center {
  margin: auto;
}

.header-title {
  margin-bottom: 3rem;
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 700;
  letter-spacing: -.05em;
}

.header__text {
  font-weight: 300;
  font-size: 1.4rem;
  font-family: "Varela", sans-serif;
}

.header__text--decor {
  position: relative;
  display: block;
  margin-bottom: 4rem;
  padding-bottom: .7rem;
  font-size: 1.8rem;
  font-family: inherit;
  line-height: 1.4rem;
  letter-spacing: -.05em;
  text-transform: uppercase;
}

.header__text--decor::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  content: "";
  display: block;
  width: 12rem;
  height: 1px;
  margin-left: -6rem;
  background-color: #fff;
}

.header__text--tagline {
  margin-bottom: 3rem;
  font-size: 3rem;
  line-height: 3.6rem;
}

.header__text--descr {
  max-width: 66rem;
  margin: 0 auto;
}

.header__decor {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.header__decor::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  content: "M";
  display: block;
  font-size: 2.1rem;
}

.header__nav-item {
  display: inline-block;
}

.header__bottom-logo {
  position: relative;
  padding: 2.3rem 0 2rem;
  padding-right: 3rem;
  font-size: 2.6rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: right;
  background-color: #004b91;
}

.header__bottom-logo .header__logo-decor::after {
  bottom: -9px;
  border-right: 6px solid #fff;
}

.header__nav {
  padding-right: 21.5rem;
  text-align: right;
  background-color: #196fc0;
}

.header__nav ul {
  margin-bottom: 0;
}

.header__nav-link {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  padding: 3.6rem 1.5rem 3rem;
  color: #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: -.02em;
}

.header__nav-link:hover {
  padding-bottom: 2.8rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.header__nav-link:active {
  padding-bottom: 2.8rem;
  opacity: .3;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__nav-item:hover {
  border-bottom: 2px solid #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__nav-item:hover {
  border-bottom: 2px solid #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.features {
  margin: 0 auto;
  padding: 9rem 0 12.5rem;
  color: #000;
}

.features__left {
  text-align: right;
}

.features__left .features__item-wrap {
  padding-right: 20%;
}

.features__right {
  text-align: left;
}

.features__right .features__item-wrap {
  padding-left: 20%;
}

.features__item {
  position: relative;
}

.features__item:first-child {
  margin-bottom: 9rem;
}

.features__item-title {
  margin-bottom: 1.8rem;
  font-size: 1.6rem;
  line-height: 1.92rem;
  letter-spacing: -.03em;
  font-weight: 600;
}

.features__item-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 300;
}

.features__icon-wrap {
  position: absolute;
  top: 15%;
  right: -5%;
}

.features__icon-wrap--left {
  left: -5%;
}

.features__icon-box {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 5rem;
  height: 5rem;
  border: 1px solid #ddd;
  -webkit-box-shadow: 4px 4px 0px 0 #eee;
  box-shadow: 4px 4px 0px 0 #eee;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.features__icon {
  margin: auto;
  color: #000;
  font-size: 2.2rem;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.features__center {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2%;
}

.features__center::after {
  position: absolute;
  top: 56%;
  left: -12%;
  content: "";
  display: block;
  width: 12%;
  height: 1px;
  background-color: #eee;
}

.features__center::before {
  position: absolute;
  top: 56%;
  right: -12%;
  content: "";
  display: block;
  width: 12%;
  height: 1px;
  background-color: #eee;
}

.features__logo-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20rem;
  height: 20rem;
  margin: auto;
  background-color: #196fc0;
  -webkit-box-shadow: 2px 2px 0 3px #eee;
  box-shadow: 2px 2px 0 3px #eee;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.features__logo {
  margin: auto;
  fill: #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.features__logo-decor {
  position: absolute;
  top: 38%;
  left: 33%;
  color: #fff;
  font-size: 2.17rem;
  font-weight: 800;
  text-transform: uppercase;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.features__logo-decor span:last-child {
  position: relative;
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
}

.features__logo-decor span:last-child::after {
  position: absolute;
  content: '';
  left: -8px;
  bottom: 6px;
  border: 6px solid transparent;
  border-right: 6px solid #fff;
}

.title {
  margin-bottom: 6rem;
  text-align: center;
}

.title--features {
  margin-bottom: 10rem;
}

.title--features {
  margin-bottom: 6rem;
}

.title--services {
  padding-bottom: 5rem;
  background-color: #fff;
}

.title__top {
  font-family: "Varela", sans-serif;
  color: #196fc0;
  font-size: 3.4rem;
  line-height: 4.32rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -.05em;
}

.title__bottom {
  position: relative;
  display: inline-block;
  padding: 0 4rem;
  color: #666;
  font-family: "Varela", sans-serif;
  font-size: 1.6rem;
  line-height: 2.24rem;
  letter-spacing: .2em;
}

.title__bottom::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  display: block;
  width: 2rem;
  height: 1px;
  background-color: #666;
}

.title__bottom::after {
  position: absolute;
  top: 50%;
  right: 0;
  content: "";
  display: block;
  width: 2rem;
  height: 1px;
  background-color: #666;
}

.btn {
  display: inline-block;
  padding: 2rem 0;
  font-size: 1.3rem;
  font-family: "Varela", sans-serif;
  color: #fff;
  line-height: 1.68rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #196fc0;
}

.btn:hover {
  color: #196fc0;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:active {
  opacity: .5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.promo {
  padding: 9rem 0 9.5rem;
  background: #000 url("../img/bg-2.jpg") no-repeat;
  background-size: cover;
}

.promo__wrap {
  text-align: center;
}

.promo__text {
  margin-bottom: 9rem;
  font-size: 3.6rem;
  line-height: 4.32rem;
  font-weight: 300;
  letter-spacing: -.06em;
}

.promo__text:first-child {
  margin-bottom: 2rem;
  padding: 0;
  font-family: "Varela", sans-serif;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 400;
}

.promo__text span {
  color: #196fc0;
}

.promo__link {
  padding: 2rem 4rem;
}

.about {
  padding: 9rem 0 9.5rem;
  color: #000;
}

.about__list {
  margin: 0;
  padding: 0;
}

.list-item {
  display: block;
  text-align: center;
}

.list-item__icon {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  margin-bottom: 4rem;
  border: 1px solid #ddd;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-box-shadow: 4px 4px 0px 0 #eee;
  box-shadow: 4px 4px 0px 0 #eee;
}

.list-item__icon--blue {
  position: relative;
  color: #fff;
  background-color: #196fc0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.list-item__icon--blue::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  display: block;
  width: 4rem;
  height: 4rem;
  margin-top: -2rem;
  margin-left: -2rem;
  border: 1px solid #fff;
}

.list-item__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  font-size: 2rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.list-item__wrap i {
  margin: auto;
}

.list-item__wrap span {
  display: inline-block;
  vertical-align: middle;
  width: 2px;
  height: .8em;
  margin-left: -10px;
  margin-right: -11px;
  background-color: #000;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

.list-item__title {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.list-item__title--blue {
  color: #196fc0;
}

.list-item__text {
  position: relative;
  margin-bottom: 3rem;
  padding-bottom: 4rem;
  font-size: 1.3rem;
  line-height: 2.21rem;
  font-weight: 300;
}

.list-item__text::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  content: "";
  display: block;
  width: 4rem;
  height: 1px;
  margin-left: -2rem;
  background-color: #ddd;
}

.list-item__link {
  font-family: "Varela", sans-serif;
  color: #999;
  font-size: 1.3rem;
  line-height: 2.21rem;
}

.list-item__link--blue {
  color: #196fc0;
}

.list-item__link:hover {
  letter-spacing: .1em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.list-item__link:active {
  letter-spacing: -.1em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.skills {
  padding: 7rem 0 7.5rem;
  color: #000;
  background-color: #f6f6f6;
}

.skills__title {
  position: relative;
  margin-bottom: 4rem;
  padding-bottom: 2rem;
  font-size: 1.7rem;
  line-height: 2rem;
  text-transform: uppercase;
  letter-spacing: -.02em;
}

.skills__title::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 4rem;
  height: 1px;
  background-color: #ddd;
}

.skills__video-player {
  width: 100%;
  height: 28.5rem !important;
  margin-bottom: 2.5rem;
}

.skills__text {
  font-size: 1.3rem;
  line-height: 2.21rem;
  font-weight: 300;
}

.skills__item {
  display: block;
  width: 100%;
  margin-bottom: 2.8rem;
  padding-right: 3rem;
}

.skills__item:nth-child(1) .skills__line-blue {
  width: 90%;
}

.skills__item:nth-child(2) .skills__line-blue {
  width: 80%;
}

.skills__item:nth-child(3) .skills__line-blue {
  width: 95%;
}

.skills__item:nth-child(4) .skills__line-blue {
  width: 65%;
}

.skills__item:nth-child(5) .skills__line-blue {
  width: 70%;
}

.skills__item-title {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  line-height: 1.4rem;
}

.skills__line {
  width: 100%;
  height: 1rem;
  background-color: #555;
}

.skills__line-blue {
  position: relative;
  height: 100%;
  background-color: #196fc0;
}

.skills__line-value {
  position: absolute;
  right: -1rem;
  bottom: 0;
}

.skills__line-triandle {
  position: relative;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #196fc0;
}

.skills__line-triandle::after {
  position: absolute;
  right: -12px;
  top: -5px;
  content: "";
  display: block;
  width: 4px;
  height: 30px;
  background-color: #f6f6f6;
  -webkit-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  transform: rotate(-40deg);
}

.skills__line-text {
  font-family: "Varela", sans-serif;
  font-size: 1.3rem;
  line-height: 1.56rem;
  letter-spacing: -.03em;
}

.progress {
  padding: 12rem 0 10.4rem;
  color: #000;
}

.progress .container {
  margin: 0 auto;
}

.progress__list {
  position: relative;
  padding: 0 7rem;
}

.progress__list::after {
  position: absolute;
  right: 0;
  top: 18%;
  left: 45%;
  content: "";
  display: block;
  width: 60%;
  height: 1px;
  margin-left: -25%;
  background-color: #ddd;
}

.progress__item {
  position: relative;
  display: inline-block;
  width: 19.5%;
  height: 5rem;
  text-align: center;
  background-color: #fff;
}

.progress__item::before {
  position: absolute;
  top: -2rem;
  left: 50%;
  content: "";
  display: block;
  width: 9rem;
  height: 9rem;
  margin-left: -4.5rem;
  margin-bottom: 4rem;
  border: 1px solid #ddd;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-box-shadow: 4px 4px 0px 0 #eee;
  box-shadow: 4px 4px 0px 0 #eee;
  background-color: #fff;
  z-index: 2;
}

.progress__item:first-child::after {
  display: none;
}

.progress__item:first-child i {
  color: #fff;
  background-color: #000;
}

.progress__item--awards {
  color: #fff;
}

.progress__item--awards::before {
  background-color: #196fc0;
}

.progress__item-wrap {
  position: relative;
  margin-bottom: 6rem;
  z-index: 3;
}

.progress__item-wrap .fa {
  display: auto;
  font-size: 2rem;
}

.progress__item-text {
  display: block;
  font-family: "Varela", sans-serif;
  font-size: 2.8rem;
  line-height: 3.84rem;
}

.progress__item-title {
  font-family: "Varela", sans-serif;
  font-size: 1.2rem;
  line-height: 1.7rem;
}

.progress__item-title--awards {
  color: #196fc0;
}

.services {
  color: #000;
  background-color: #f6f6f6;
}

.services__slider-wrap {
  max-width: 117rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  padding-top: 8rem;
}

.services .slider {
  width: 100%;
}

.services .slick-list {
  padding-bottom: 3rem !important;
}

.slider-prev {
  margin-bottom: 7rem;
}

.services .slick-list {
  padding: 0 !important;
  background-color: #fff;
}

.slider__prev-item {
  position: relative;
  width: 23rem !important;
  padding-top: 3rem;
  padding-bottom: 1.7rem;
  text-align: center;
  border-bottom: 2px solid #196fc0;
  outline: none;
}

.slider__prev-item::after {
  position: absolute;
  bottom: -15px;
  left: 50%;
  content: "";
  display: none;
  position: relative;
  width: 0;
  height: 0;
  margin-left: -20px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 15px solid #196fc0;
  z-index: 99;
}

.slider__prev-item:hover {
  padding-top: 3.6rem;
  padding-bottom: 0rem;
  color: #196fc0;
  background-color: #196fc0;
  border: 1px solid green;
}

.slider__prev-item:hover::after {
  display: block;
}

.slider__prev-item:hover .slider__prev-wrap {
  width: 7rem;
  height: 7rem;
  background-color: #fff;
}

.slider__prev-item:hover .slider__prev-title {
  display: none;
}

.slider__prev-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  border: 1px solid #ddd;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.slider__prev-wrap i {
  display: block;
  margin: auto;
  font-size: 2rem;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.services__slider {
  min-height: 40rem;
}

.slider__item-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #f6f6f6;
}

.slider__item-left {
  width: 40%;
  padding-top: 2rem;
}

.slider__item-right {
  width: 55%;
  padding-top: 2rem;
}

.slider__item-title {
  margin-bottom: 2rem;
  font-size: 2.8rem;
  line-height: 3.4rem;
  letter-spacing: -.03em;
  font-weight: 400;
  text-transform: capitalize;
}

.slider__item-text {
  position: relative;
  margin-bottom: 2rem;
  padding-bottom: 3rem;
  font-size: 1.3rem;
  line-height: 2.21rem;
  font-weight: 300;
}

.slider__item-text::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 10%;
  height: 1px;
  background-color: #ddd;
}

.slider__item-link {
  display: inline-block;
  vertical-align: top;
  font-family: "Varela", sans-serif;
  font-size: 1.1rem;
  line-height: 1.3rem;
  color: #196fc0;
}

.slider__item-link:hover {
  letter-spacing: .1em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.slider__item-link:active {
  letter-spacing: -.1em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services .slick-arrow {
  position: absolute;
  top: -40%;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border: 1px solid #ddd;
}

.services .slick-arrow:hover {
  border: 1px solid #196fc0;
}

.services .slick-arrow:active {
  border: 1px solid #000;
}

.services .slick-arrow:first-child {
  left: 47.7%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.services .slick-arrow:first-child span {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.services .slick-arrow:first-child span::before {
  content: "";
  width: 5px;
  height: 5px;
  margin: auto;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}

.services .slick-arrow:last-child {
  right: 47.7%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.services .slick-arrow:last-child span {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.services .slick-arrow:last-child span::before {
  content: "";
  width: 5px;
  height: 5px;
  margin: auto;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}

.reviews {
  position: relative;
  padding: 9rem 0;
}

.reviews__wrap {
  padding: 6.5rem 0;
  color: #fff;
  background-color: #196fc0;
}

.reviews__slider {
  max-width: 117rem;
  width: 100%;
  margin: 0 auto;
}

.reviews__slider-item {
  margin: 0 auto;
  padding: 0 10rem;
  text-align: center;
  outline: none;
}

.reviews__img-block {
  position: relative;
  display: inline-block;
  width: 8rem;
  height: 8rem;
  margin-bottom: 3rem;
}

.reviews__img-block::before {
  position: absolute;
  top: -30px;
  left: -25px;
  content: "";
  display: block;
  width: 15rem;
  height: 15rem;
  border: 4rem solid #196fc0;
  background-color: transparent;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.reviews__img {
  width: 10rem;
  height: 10rem;
}

.reviews__text {
  position: relative;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  font-size: 1.4rem;
  line-height: 2.38rem;
  letter-spacing: -.02em;
}

.reviews__text::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  display: block;
  width: 5%;
  height: 1px;
  margin-left: -2.5%;
  background-color: #fff;
}

.reviews__author {
  font-family: "Varela", sans-serif;
  display: block;
  font-size: 1.4rem;
  line-height: 1.68rem;
  letter-spacing: -.02em;
}

.reviews__author-descr {
  font-family: "Varela", sans-serif;
  display: block;
  font-size: 1rem;
  line-height: 2rem;
  text-transform: uppercase;
}

.reviews .slick-arrow {
  position: absolute;
  top: 50%;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: 1px solid #ddd;
}

.reviews .slick-arrow:hover {
  border: 1px solid #196fc0;
}

.reviews .slick-arrow:active {
  border: 1px solid #000;
}

.reviews .slick-arrow:first-child {
  left: 3%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.reviews .slick-arrow:first-child span {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.reviews .slick-arrow:first-child span::before {
  content: "";
  width: 5px;
  height: 5px;
  margin: auto;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
}

.reviews .slick-arrow:last-child {
  right: 3%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.reviews .slick-arrow:last-child span {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.reviews .slick-arrow:last-child span::before {
  content: "";
  width: 5px;
  height: 5px;
  margin: auto;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

.team {
  padding: 7rem 0 11rem;
  color: #000;
  font-size: 1.5rem;
  line-height: 1.92rem;
  letter-spacing: -.03em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.team__item {
  width: 99.3%;
  border: 1px solid #ddd;
}

.team__img {
  border: 3px solid #ddd;
}

.team__name {
  display: block;
  padding: 3rem 0;
}

.design {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 10rem;
}

.design__wrap {
  position: relative;
  width: 100%;
  margin-bottom: 6rem;
  padding: 10rem 0 9rem;
  text-align: center;
  background: url("../img/bg-3.jpg") no-repeat;
  background-size: cover;
}

.design__wrap::after {
  position: absolute;
  bottom: -11rem;
  left: 50%;
  content: "";
  display: block;
  position: relative;
  width: 0;
  height: 0;
  margin-left: -25px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 20px solid #4186c8;
  z-index: 99;
}

.design__title {
  margin-bottom: 3rem;
  padding: 0 30%;
  font-size: 5.4rem;
  line-height: 6rem;
  font-weight: 700;
  letter-spacing: -.05em;
  text-align: center;
  text-transform: uppercase;
}

.design__text {
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: -.03em;
  font-weight: 600;
}

.design__btn-block {
  width: auto;
  margin: auto;
}

.design__btn {
  min-width: 17rem;
  font-size: 1.3rem;
  line-height: 1.68rem;
  text-align: center;
  border: 1px solid #ddd;
}

.design__btn:first-child {
  margin-right: 2rem;
  color: #000;
  background-color: #fff;
}

.design__btn:first-child:hover {
  color: #fff;
  background-color: #196fc0;
}

.history {
  padding: 7rem 0 13rem;
  background-color: #f6f6f6;
}

.history .col-md-5 {
  padding: 0 10px;
}

.history__title {
  position: relative;
  margin-bottom: 2.5rem;
  padding-bottom: 2rem;
  font-size: 3rem;
  color: #196fc0;
  font-weight: 300;
  letter-spacing: -.03em;
  text-align: center;
}

.history__title::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  display: block;
  width: 5rem;
  height: 1px;
  margin-left: -2.5rem;
  background-color: #bbb;
}

.history__title-text {
  font-family: "Varela", sans-serif;
  color: #000;
  font-size: 1.4rem;
  line-height: 1.96rem;
  text-align: center;
  font-weight: inherit;
}

.history__wrap {
  padding-top: 10rem;
}

.history__year,.history__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 6rem;
  height: 6rem;
  margin: auto;
  margin-bottom: 5rem;
  color: #000;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #fff;
  border: 2px solid #eee;
  -webkit-box-shadow: 5px 5px 0 0 #eee;
  box-shadow: 5px 5px 0 0 #eee;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.history__year span,.history__link span {
  margin: auto;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.history__link {
  margin-bottom: 0;
  margin-top: 5rem;
}

.history__link::after {
  top: -36px;
  right: 42px;
}

.history__item {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.history__item--clients {
  border-right: none;
  border-left: 1px solid #ddd;
}

.history__item--clients .history__item-title {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  text-align: right;
}

.history__item:nth-child(2)::before {
  position: absolute;
  top: -32px;
  right: -1px;
  content: "";
  display: block;
  width: 1px;
  height: 3.2rem;
  background-color: #ddd;
}

.history__item:nth-last-child(2)::before {
  position: absolute;
  bottom: -40px;
  right: -1px;
  content: "";
  display: block;
  width: 1px;
  height: 4rem;
  background-color: #ddd;
}

.history__item-date {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -.03em;
}

.history__item-date::after {
  position: absolute;
  right: -19px;
  content: "";
  display: block;
  width: 1.7rem;
  height: 1.7rem;
  background-color: #555;
  -webkit-box-shadow: -7px 7px 0 0 #f6f6f6;
  box-shadow: -7px 7px 0 0 #f6f6f6;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  outline: none;
}

.history__item-date--clients::after {
  left: -19px;
  -webkit-box-shadow: 7px -7px 0 0 #f6f6f6;
  box-shadow: 7px -7px 0 0 #f6f6f6;
}

.history__item-title {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  padding: 1.7rem;
  font-size: 1.6rem;
  background-color: #555;
}

.history__date {
  display: block;
  padding: 1.7rem;
  background-color: #196fc0;
}

.history__item-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2.5rem 0;
}

.history__item-wrap--clients {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-left: 1.5rem;
}

.history__img {
  width: 10rem;
  height: 10rem;
}

.history__text {
  padding: 0 2.5rem;
  color: #000;
  font-size: 1.2rem;
  line-height: 2.28rem;
  font-weight: 300;
}

.works {
  padding: 9.5rem 0 10rem;
}

.works__controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 4rem;
  padding: 0 !important;
  color: #666;
  font-size: 1rem;
  line-height: 1.68rem;
  text-transform: uppercase;
  border: 1px solid #ddd;
  border-bottom: 5px solid #196fc0;
}

.controls__item {
  position: relative;
  padding: 1.8rem 3rem 1.3rem;
  border-right: 1px solid #ddd;
}

.controls__item:hover {
  color: #fff;
  background-color: #196fc0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.controls__item:hover::after {
  position: absolute;
  bottom: -15px;
  left: 50%;
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-left: -15px;
  border-top: 10px solid #196fc0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  z-index: 2;
}

.controls__sort {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0;
  text-align: right;
  border: none;
}

.controls__sort-btn {
  position: relative;
  display: inline-block;
  padding: 1.8rem 3rem 1.3rem;
  padding-right: 4rem;
  color: #666;
  font-size: 1.1rem;
  text-transform: uppercase;
  background-color: #fff;
  border-left: 1px solid #ddd;
}

.controls__sort-btn::after {
  position: absolute;
  top: 45%;
  left: 75%;
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border-right: 2px solid #196fc0;
  border-bottom: 2px solid #196fc0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.controls__sort-list {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  width: 11.5rem;
  height: 100%;
  text-align: center;
  background-color: #fff;
}

.controls__sort:hover .controls__sort-list {
  display: block;
}

.controls__sort-item {
  display: block;
  width: 100%;
  padding: 4px 0;
  font-size: 1.3rem;
}

.controls__sort-item:hover {
  color: #fff;
  background-color: #196fc0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.works__portfolio-list {
  padding: 0 !important;
}

.works__portfolio-item {
  padding: 0 !important;
}

.works__img {
  height: 25rem;
}

.mix {
  display: none;
}

.download {
  padding: 15rem 0 16rem;
  text-align: center;
  background: url("../img/bg-4.jpg") no-repeat;
  background-size: cover;
}

.download__text {
  text-align: center;
}

.download__text:first-child {
  font-size: 3.6rem;
  line-height: 4.32rem;
  font-weight: 600;
  letter-spacing: -.02em;
}

.download__text--small {
  margin-bottom: 9rem;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 300;
}

.download__btn-block {
  display: inline-block;
}

.download__btn {
  width: 17rem;
  text-align: center;
}

.download__btn:first-child {
  margin-right: 1.5rem;
  padding: 1.8rem 0;
  background-color: transparent;
  border: 1px solid #fff;
}

.clients {
  padding: 7.5rem 0 8rem;
}

.clients__title {
  position: relative;
  margin-bottom: 5rem;
  padding-bottom: 2.5rem;
  color: #000;
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  font-weight: 300;
  letter-spacing: -.03em;
}

.clients__title::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  display: block;
  width: 5rem;
  height: 1px;
  margin-left: -2.5rem;
  background-color: #ddd;
}

.clients__list {
  margin-bottom: 5rem;
}

.clients__item {
  height: 7rem;
  margin-right: 4.8rem;
  background-color: #f6f6f6;
}

.clients__item:last-child {
  margin-right: 0;
}

.clients__text {
  padding: 0 28%;
  color: #868686;
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 300;
  text-align: center;
}

.form {
  margin-bottom: 5rem;
  padding: 9.5rem 0 5rem;
}

.form__text {
  position: relative;
  margin-bottom: 4rem;
  padding-bottom: 2rem;
  color: #000;
  font-size: 1.7rem;
  line-height: 1.96rem;
  font-weight: 700;
  text-align: center;
}

.form__text::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  display: block;
  width: 4rem;
  height: 1px;
  margin-left: -2rem;
  background-color: #ddd;
}

.form__wrap {
  margin-bottom: 7rem;
  padding: 0 !important;
}

.form__input {
  display: block;
  width: 100%;
  padding: 1.3rem 0.8rem;
  color: #666;
  font-family: "Varela", sans-serif;
  font-size: 1.2rem;
  line-height: 1.92rem;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
  resize: vertical;
}

.form__input:hover,.form__input:focus {
  border-bottom: 1px solid #196fc0;
}

.form__area {
  width: 100%;
  min-height: 8rem !important;
  margin-bottom: 4rem;
  padding: 1.3rem 0.8rem;
  color: #666;
  font-family: "Varela", sans-serif;
  font-size: 1.2rem;
  line-height: 1.92rem;
  font-weight: 400;
  text-transform: uppercase;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ddd;
  outline: none;
}

.form__area:hover {
  border-bottom: 1px solid #196fc0;
}

.form__area:focus {
  padding: 1.2rem 0.7rem;
  border: 1px solid #196fc0;
}

.form ::-webkit-input-placeholder {
  color: #666;
  font-family: "Varela", sans-serif;
  font-size: 1.2rem;
  line-height: 1.92rem;
  font-weight: 400;
  text-transform: uppercase;
}

.form ::-moz-placeholder {
  color: #666;
  font-family: "Varela", sans-serif;
  font-size: 1.2rem;
  line-height: 1.92rem;
  font-weight: 400;
  text-transform: uppercase;
}

.form :-moz-placeholder {
  color: #666;
  font-family: "Varela", sans-serif;
  font-size: 1.2rem;
  line-height: 1.92rem;
  font-weight: 400;
  text-transform: uppercase;
}

.form :-ms-input-placeholder {
  color: #666;
  font-family: "Varela", sans-serif;
  font-size: 1.2rem;
  line-height: 1.92rem;
  font-weight: 400;
  text-transform: uppercase;
}

.form__label:hover ::-webkit-input-placeholder {
  color: #196fc0;
}

.form__label:hover ::-moz-placeholder {
  color: #196fc0;
}

.form__label:hover :-moz-placeholder {
  color: #196fc0;
}

.form__label:hover :-ms-input-placeholder {
  color: #196fc0;
}

.form__btn {
  display: block;
  width: 100%;
  font-family: "Varela", sans-serif;
  color: #000;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid #ddd;
}

.form__btn:hover {
  border: 1px solid #196fc0;
}

.mytwit {
  padding: 10.5rem 0;
  text-align: center;
  background: #2c2b2a url("../img/bg-5.jpg") no-repeat;
  background-size: cover;
}

.mytwit__decor {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 6.5rem;
  height: 6.5rem;
  margin: auto;
  margin-bottom: 5rem;
  border: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mytwit__icon {
  margin: auto;
  font-size: 3rem;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.mytwit__title {
  position: relative;
  margin-bottom: 4rem;
  padding-bottom: 2.5rem;
  font-size: 1.4rem;
  line-height: 1.68rem;
  letter-spacing: -.03em;
  font-weight: 400;
  text-align: center;
}

.mytwit__title::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  display: block;
  width: 4rem;
  height: 1px;
  margin-left: -2rem;
  background-color: #ddd;
}

.mytwit__text {
  margin-bottom: 7rem;
  padding: 0 27%;
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 300;
  text-align: center;
}

.mytwit__btn {
  display: inline-block;
  margin: auto;
  padding-right: 4rem;
  padding-left: 4rem;
  background-color: transparent;
  border: 1px solid #fff;
}

.map {
  width: 119rem;
  height: 54.2rem;
  margin: 0 auto;
}

.map__img {
  max-height: 54.2rem;
}

.footer {
  padding: 9rem 0 14rem;
}

.footer__icons {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 4rem 0;
  background-color: #196fc0;
}

.footer__icons::before {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #000;
}

.footer__icons::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  display: block;
  width: 52rem;
  height: 5px;
  margin-left: -27rem;
  background-color: #fff;
}

.footer__icon-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
  background-color: transparent;
  border: 2px solid #4e90cf;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.footer__icon-link .fa {
  margin: auto;
  color: #fff;
  font-size: 2.2rem;
  line-height: 2.64rem;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.footer__icon-link:hover {
  background-color: #fff;
  border: 2px solid #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__icon-link:hover .fa {
  color: #196fc0;
}

.footer__nav {
  position: relative;
  margin-bottom: 5rem;
  padding: 7rem 0;
  border-bottom: 1px solid #ddd;
}

.footer__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer__nav-link {
  padding: 1rem;
  color: #666;
  font-size: 1.3rem;
  line-height: 1.56rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -.02em;
}

.footer__nav-link:hover {
  color: #196fc0;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__nav-link:active {
  opacity: .3;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__decor {
  position: absolute;
  bottom: -15px;
  left: 50%;
  width: 3rem;
  height: 3rem;
  margin-left: -1.5rem;
  background-color: #000;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.footer__decor .footer__decor-item {
  position: relative;
  width: 1.1rem;
  height: 1.1rem;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.footer__decor .footer__decor-item::before {
  position: absolute;
  bottom: -6px;
  left: 5px;
  content: "";
  display: block;
  width: 10px;
  height: 2px;
  background-color: #fff;
}

.footer__decor .footer__decor-item::after {
  position: absolute;
  right: -6px;
  bottom: -5px;
  content: "";
  display: block;
  width: 2px;
  height: 10px;
  background-color: #fff;
}

.footer__copyright {
  color: #666;
  text-align: center;
}/*==========  Desktop First  ==========*//* Large Devices, Wide Screens *//**//**//* Medium Devices, Desktops *//**//* Small Devices, Tablets *//**//* Extra Small Devices, Phones *//**//* Custom, iPhone Retina *//**//*==========  Mobile First  ==========*//* Custom, iPhone Retina *//**//* Extra Small Devices, Phones *//**//* Small Devices, Tablets *//**//* Medium Devices, Desktops *//**//* Large Devices, Wide Screens *//**/@font-face {
  font-family:"Opensans";src:url("../fonts/opensans-semibold.woff2") format("woff2"), url("../fonts/opensans-semibold.woff") format("woff");font-weight:600;font-style:normal;
}

@font-face {
  font-family:"Opensans";src:url("../fonts/opensans-regular.woff2") format("woff2"), url("../fonts/opensans-regular.woff") format("woff");font-weight:400;font-style:normal;
}

@font-face {
  font-family:"Opensans";src:url("../fonts/opensans-light.woff2") format("woff2"), url("../fonts/opensans-light.woff") format("woff");font-weight:300;font-style:normal;
}

@font-face {
  font-family:"Opensans";src:url("../fonts/opensans-bold.woff2") format("woff2"), url("../fonts/opensans-bold.woff") format("woff");font-weight:700;font-style:normal;
}

@font-face {
  font-family:"Varela";src:url("../fonts/varela-regular.woff2") format("woff2"), url("../fonts/varela-regular.woff") format("woff");font-weight:400;font-style:normal;
}

@media only screen and (max-width: 1199px) {
  .features__center {
    padding-top: 6%;
  }

  .features__center::before,.features__center::after {
    top: 61%;
  }

  .design__title {
    padding: 0 20%;
  }

  .clients__item {
    margin-right: 4rem;
  }

  .map {
    width: 90%;
    height: auto;
  }

  .footer {
    padding: 5rem 0 6rem;
  }
}

@media only screen and (max-width: 1100px) {
  .features__logo-decor {
    font-size: 2rem;
  }

  .slider__prev-item {
    width: 21.6rem !important;
  }

  .services .slick-arrow:first-child {
    left: 47.7%;
  }

  .services .slick-arrow:last-child {
    right: 47.7%;
  }

  .design__title {
    padding: 0 20%;
  }
}

@media only screen and (max-width: 991px) {
  .header__logo {
    top: 7%;
  }

  .header__nav {
    width: 100%;
  }

  .header__nav-list {
    text-align: center;
  }

  .header__bottom-logo {
    display: none;
  }

  .header__nav-link {
    font-size: 1.2rem;
  }

  .features {
    padding: 5rem 0 5.5rem;
  }

  .features__icon-wrap {
    right: -15%;
  }

  .features__icon-wrap--left {
    left: -15%;
  }

  .features__logo-wrap {
    width: 15rem;
    height: 15rem;
  }

  .features__logo {
    width: 120px;
  }

  .features__logo-decor {
    font-size: 1.6rem;
  }

  .features__center {
    padding-top: 12%;
  }

  .features__item-text {
    font-size: 1.1rem;
  }

  .features__item-title {
    padding: 0 2rem;
    text-align: center;
  }

  .features__center::after,.features__center::before {
    top: 69%;
  }

  .promo,.promo__flex {
    min-height: 40rem;
  }

  .promo__text {
    margin-bottom: 3rem;
    font-size: 3.2rem;
  }

  .skills__item {
    padding: 0;
  }

  .about,.skills {
    padding: 6rem 0 6.5rem;
  }

  .services .progress__list {
    padding: 0;
  }

  .services .progress__list::after {
    left: 35%;
    width: 80%;
  }

  .slider__prev-item {
    width: 19.5rem !important;
  }

  .services .slick-arrow:first-child {
    left: 47.5%;
  }

  .services .slick-arrow:last-child {
    right: 47.5%;
  }

  .team {
    padding: 7rem 0;
  }

  .history {
    padding-bottom: 7rem;
  }

  .history__date,.history__item-title {
    font-size: 1.4rem;
  }

  .history__wrap {
    padding-top: 6rem;
  }

  .history__item-wrap--clients {
    padding: 1rem 0;
  }

  .history__img {
    width: 8rem;
    height: 8rem;
  }

  .history__text {
    padding: 0 1.5rem;
  }

  .reviews {
    padding-bottom: 0;
  }

  .design {
    padding-bottom: 6rem;
  }

  .design__wrap {
    padding: 6rem 0 5rem;
  }

  .design__wrap::after {
    bottom: -7rem;
  }

  .design__title {
    font-size: 3.8rem;
    line-height: 4.4rem;
  }

  .design__text {
    font-size: 2.4rem;
  }

  .progress {
    padding: 10rem 0 7rem;
  }

  .progress__list {
    padding: 0;
  }

  .progress__list::after {
    left: 35%;
    width: 80%;
  }

  .works__controls {
    font-size: 1rem;
  }

  .controls__sort-btn {
    width: 100%;
    text-align: center;
    border: none;
  }

  .controls__sort-btn::after {
    top: 43%;
  }

  .download {
    padding: 10rem 0 11rem;
  }

  .download__text--small {
    margin-bottom: 6rem;
  }

  .clients__item {
    margin-right: 3.1rem;
  }

  .clients__text {
    padding: 0 15%;
  }
}

@media only screen and (max-width: 768px) {
  .header-title {
    margin-bottom: 1rem;
    font-size: 3rem;
  }

  .header__logo {
    top: 3%;
  }
}
