
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.default__wrap {
  width: 100%;
  padding: 10px 0;
}

.wrap {
  position: relative;
}

.top-menu__item {
  position: relative;
}

.top-menu__wrapper {
  position: absolute;
  top: 26px;
  display: none;
  min-width: 240px;
  padding-top: 37px;
  z-index: 901;
}

.top-menu__wrapper_fixed {
  position: static;
  padding: 0;
}

.top-menu__wrapper_big {
  width: 350px;
}

.fixed .top-menu__wrapper_big {
  width: 100%;
}

.inner-menu {
  position: relative;
  background-color: rgba(33, 36, 43, .9);
}

.top-menu__item:hover .top-menu__wrapper {
  display: block;
}

.top_menu .inner-menu__item {
  display: block;
  float: none;
  margin-left: 0;
  padding-left: 0;
  border-bottom: 1px solid rgba(55, 60, 61, .08);
}

.default .inner-menu__item:last-child {
  border: none;
}

.top_menu .inner-menu__link {
  display: block;
  padding: 13px 30px 13px 30px;
  text-align: left;
  opacity: .5;
}

.fixed .inner-menu__link.inner-menu__link--fixed {
  padding: 13px 0 13px 0;
  text-align: center;
}

.fixed .inner-menu__link.inner-menu__link--fixed:hover {
  padding: 13px 0 13px 0;
  text-align: center;
}

.top_menu .inner-menu__link:hover {
  background-color: rgba(40, 50, 52, 0.3);
}

.top_menu .inner-menu__link:hover {
  padding: 13px 10px 13px 30px;
  opacity: 1;
}

.top_menu .inner-menu__link::after {
  display: none;
}

.inner-menu::after,
.default__form::after {
  position: absolute;
  top: -12px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid rgba(33, 36, 43, .9);
}

.inner-menu::after {
  left: 25px;
}

.default__form::after {
  right: 50px;
  border-bottom: 12px solid #1b1e24;
}

.default__search {
  position: absolute;
  top: 14px;
  right: -54px;
  display: none;
  width: 600px;
  padding-top: 50px;
  z-index: 901;
}

.default__form {
  position: relative;
  padding: 13px;
  padding-right: 0;
  background-color: #1b1e24;
}

.link_search {
  display: block;
  float: none;
}

.link_search-box {
  float: right;
}


.link_search-box:hover .default__search {
  display: block;
}

.link_search:focus .default__search  {
  display: block;
}

.default__input:focus ~ .wrapper .default__search  {
  display: block;
}

.default__input {
  width: 100%;
  padding-right: 20px;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
}

.default__label::after {
  position: absolute;
  top: 50%;
  right: 14px;
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  margin-top: -4px;
  border-left: 2px solid #ec1c2d;
  border-top: 2px solid #ec1c2d;
  transform: rotate(135deg);
}

.default__label {
  position: relative;
  display: block;
}

/* mobile search */

.link_search {
  position: relative;
}

.js-link_search::after {
  position: absolute;
  bottom: -26px;
  right: -3px;
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #000;
}

.fixed__search {
  position: absolute;
  top: 38px;
  right: 0;
  display: none;
  width: 100%;
  padding-top: 22px;
  z-index: 901;
}

.js-fixed__search_show {
  display: block;
}

.fixed__form {
  position: relative;
  padding: 13px;
  padding-right: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.fixed__input {
  width: 100%;
  padding-right: 20px;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
}

.fixed__label::after {
  position: absolute;
  top: 50%;
  right: 14px;
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  margin-top: -4px;
  border-left: 2px solid #ec1c2d;
  border-top: 2px solid #ec1c2d;
  transform: rotate(135deg);
}

.fixed__label {
  position: relative;
  display: block;
}

.fixed__search .fixed__decor {
  border-bottom: 12px solid #000;
}

.link_search-box {
  position: relative;
}
