/* reset *//* main variables */body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
  background-color: #FFF;
  height: 100%;
  line-height: 1;
  position: relative;
  font-size: 13px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}/*MAIN*/html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}/* HTML5 display-role reset for older browsers */article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main {
  display: block;
}

blockquote,q {
  quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input,textarea {
  color: #333;
  font-family: Arial, sans-serif;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

input[type="button"],input[type="submit"],button {
  cursor: pointer;
}

td {
  margin: 0px;
  padding: 0px;
}

form {
  padding: 0px;
  margin: 0px;
}

a {
  color: #100da9;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a,span,div,button {
  outline: none !important;
}

input[type=submit],input[type=button],button {
  -webkit-appearance: none;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after,.wrapper:after,.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}/* Slider */.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before,.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
  padding-top: 45px;
}

.slick-dots li {
  margin-right: 20px;
  list-style: none;
}

.slick-dots li:last-child {
  margin-right: 0;
}

.slick-dots li button {
  width: 18px;
  height: 18px;
  font-size: 0;
  background-color: #cb944c;
  border: none;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  opacity: .33;
}

.slick-dots li button:hover {
  opacity: .5;
}

.slick-dots li button:active,.slick-dots li button:focus {
  opacity: 1;
}

.slick-arrow {
  position: absolute;
  top: 26%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 37px;
  height: 128px;
  padding: 0;
  font-size: 0;
  background-color: #d2a66b;
  border: none;
  opacity: 0.88;
  z-index: 5;
  cursor: pointer;
}

.slick-arrow:first-child {
  left: 0;
}

.slick-arrow:nth-child(3) {
  right: 0;
}

.slick-arrow:nth-child(3) span {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.slick-arrow span {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  margin: auto;
  border-left: 5px solid #fff;
  border-bottom: 5px solid #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.slick-arrow:hover {
  background-color: #fff;
  opacity: 0.88;
}

.slick-arrow:hover span {
  border-left: 5px solid #d2a66b;
  border-bottom: 5px solid #d2a66b;
}

.slick-arrow:active {
  opacity: 1;
}/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/.header {
  width: 100%;
  background-color: #FFF;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  -webkit-order: 1;
}

.header__top-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 12px;
  padding-left: 16px;
  padding-right: 13px;
}

.header__contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__bottom-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 15px;
  border-top: 1px solid #dddfdf;
  border-bottom: 1px solid #dddfdf;
}/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/footer {
  height: 80px;
  text-align: left;
  width: 100%;
  min-width: 320px;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  -webkit-order: 3;
}

.main-wrapper {
  min-width: 320px;
  max-width: 1444px;
  width: 100%;
  margin: auto;
  padding: 0 45px;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.wrapper--header {
  padding: 30px 55px 30px 55px;
}

.wrapper--content {
  padding-bottom: 30px;
}/* titles */p {
  font-size: 13px;
  line-height: 18px;
  color: #000;
  padding: 15px 0 15px 0;
  font-weight: 400;
}

h1 {
  font-size: 36px;
  line-height: 42px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  padding: 15px 0 15px 0;
  font-weight: 400;
}

h2 {
  font-size: 32px;
  line-height: 37px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  padding: 15px 0 15px 0;
  font-weight: 400;
}

h3 {
  font-size: 28px;
  line-height: 32px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  padding: 15px 0 15px 0;
  font-weight: 400;
}

::-webkit-input-placeholder {
  color: #b8b8bd;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  line-height: 10px;
}

::-moz-placeholder {
  color: #b8b8bd;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
}

:-moz-placeholder {
  color: #b8b8bd;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
}

:-ms-input-placeholder {
  color: #b8b8bd;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
}/* text position */.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.nowrap {
  white-space: nowrap !important;
}/* loader */.loaded .main-wrapper {
  visibility: hidden;
}

.icon-load {
  background: url(../img/loader.gif) no-repeat left top;
  width: 40px;
  height: 40px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-left: -20px;
  display: none;
}

.loaded .icon-load {
  display: block;
}/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/.content {
  min-width: 320px;
  text-align: left;
  width: 100%;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  -webkit-order: 2;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-grow: 1;
}/* reset *//* main variables */.logo {
  width: 248px;
  margin-right: 3.5%;
  padding-top: 4px;
}

.logo__img {
  width: 100%;
  height: auto;
}

.logo__text {
  font-size: 13px;
  margin-top: 4px;
  padding: 0;
}

.header-form {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  position: relative;
  margin-right: 7.4%;
  font-size: 14px;
}

.header-form__search {
  width: 100%;
  padding: 11px 9px;
  padding-right: 25px;
  border: 1px solid #b9b8bd;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.header-form__search:hover,.header-form__search:focus {
  border: 1px solid #000;
}

.header-form-btn {
  position: absolute;
  top: 50%;
  right: 9px;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-top: -9px;
  background: #fff url("../img/search-icon.png") no-repeat;
  border: none;
}

.header-form-btn:hover,.header-form-btn:focus {
  opacity: .5;
}

.header-form-btn:active {
  opacity: .2;
}

.contacts__text {
  padding: 0;
  font-size: 20px;
}

.contacts__text--big {
  margin-right: 28px;
  color: #000;
  font-size: 20px;
  line-height: 40px;
}

.contacts__text--small {
  color: #000;
  font-size: 13px;
}

.contacts__text--small:first-child {
  color: #cb944c;
  line-height: 20px;
}

.contacts__text--small:last-child {
  line-height: 12px;
}

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav__item {
  position: relative;
  display: block;
  list-style: none;
}

.nav__link {
  display: block;
  padding: 18px 7px;
  padding-bottom: 20px;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.nav__link:hover,.nav__link:focus {
  opacity: .5;
}

.nav__link:active {
  color: #cb944c;
}

.nav__link--catalog {
  position: relative;
  padding-right: 32px;
  padding-left: 28px;
  letter-spacing: -.06em;
}

.nav__link--catalog::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  display: block;
  width: 16px;
  height: 12px;
  margin-top: -7px;
  background: #fff url("../img/burger-icon.png") no-repeat;
}

.nav__link--catalog::after {
  position: absolute;
  top: 50%;
  right: 12px;
  content: "";
  display: block;
  width: 11px;
  height: 7px;
  margin-top: -5px;
  background: #fff url("../img/check.png") no-repeat;
}

.nav__link-wrapper {
  position: absolute;
  top: 42px;
  left: -15px;
  display: none;
  padding-top: 20px;
  background-color: transparent;
  z-index: 10;
  z-index: 5;
}

.nav__inner-list {
  width: 244px;
  padding: 14px 0;
  padding-bottom: 25px;
  background-color: #FFF;
  border: 1px solid #dddfdf;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1.5px 2.6px 1px rgba(108, 104, 104, 0.33);
  box-shadow: 1.5px 2.6px 1px rgba(108, 104, 104, 0.33);
}

.nav__item--catalog:hover .nav__link-wrapper {
  display: block;
}

.nav__inner-item {
  display: block;
  width: 100%;
  list-style: none;
}

.nav__inner-item--sub {
  position: relative;
}

.nav__inner-link {
  position: relative;
  display: block;
  width: 100%;
  padding: 8px 17px;
  padding-bottom: 7px;
  padding-left: 35px;
  color: #666;
  font-size: 15px;
  line-height: 15px;
  cursor: pointer;
}

.nav__inner-link--arrow::after {
  position: absolute;
  top: 50%;
  right: 12px;
  content: "";
  display: block;
  width: 11px;
  height: 7px;
  margin-top: -3px;
  background: transparent url("../img/check.png") no-repeat;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.nav__inner-link::before {
  position: absolute;
  left: 17px;
  top: 12px;
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border: 1px solid #cb944c;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.nav__inner-link:hover,.nav__inner-link:focus {
  background-color: #e9e9ea;
}

.nav__inner-link:active {
  opacity: .3;
}

.nav__sub-wrapper {
  position: absolute;
  top: -10px;
  right: -248px;
  display: none;
  padding-left: 10px;
  z-index: 6;
}

.nav__sub-wrapper--show {
  display: block;
}

.nav__inner-item--sub:hover .nav__sub-wrapper {
  display: block;
}

.nav__sub-list {
  width: 244px;
  padding-bottom: 15px;
  background-color: #FFF;
  border: 1px solid #dddfdf;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1.5px 2.6px 1px rgba(108, 104, 104, 0.33);
  box-shadow: 1.5px 2.6px 1px rgba(108, 104, 104, 0.33);
}

.nav__sub-item {
  display: block;
  width: 100%;
  list-style: none;
}

.nav__sub-title {
  padding-left: 18px;
  padding-bottom: 5px;
  color: #cb944c;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -.09em;
}

.nav__sub-link {
  position: relative;
  display: block;
  width: 100%;
  padding: 8px 17px;
  padding-left: 35px;
  padding-top: 3px;
  color: #666;
  font-size: 15px;
  line-height: 20px;
  cursor: pointer;
}

.nav__sub-link:hover {
  background-color: #e9e9ea;
}

.nav__sub-link:active {
  opacity: .3;
}

.nav__sub-link::before {
  position: absolute;
  left: 18px;
  top: 50%;
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  margin-top: -7px;
  border: 1px solid #cb944c;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.user-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.user-block__login {
  position: relative;
  display: block;
  padding: 10px 0;
  padding-left: 30px;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.user-block__login:hover {
  opacity: .5;
}

.user-block__login:active {
  color: #cb944c;
}

.user-block__login::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  display: block;
  width: 19px;
  height: 17px;
  margin-top: -8px;
  background: transparent url("../img/user-icon.png") no-repeat;
}

.cart {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 35px;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.cart:hover {
  opacity: .5;
}

.cart:active {
  color: #cb944c;
}

.cart::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  margin-top: -12px;
  background: transparent url("../img/cart-icon.png") no-repeat;
}

.cart__empty {
  display: none;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.cart__full {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0;
}

.cart__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 22px;
  height: 22px;
  margin: auto;
  margin-right: 5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #cb944c;
}

.cart__items-number {
  margin: auto;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

_:-ms-fullscreen,:root .cart__items-number {
  padding-top: 4px;
}

.cart__text {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.cart__price {
  margin-left: 10px;
  margin-right: 20px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.slider {
  position: relative;
  width: 1354px;
  height: 326px;
}

.slider__img {
  width: 100%;
}

.slider__title-block {
  position: absolute;
  top: 31%;
  left: 70px;
  width: 500px;
  padding: 0 0 0 32px;
  background-color: #d2a66b;
  opacity: 0.88;
  z-index: 5;
}

.slider__title {
  padding-top: 10px;
  padding-bottom: 18px;
  color: #fff;
  font-size: 42.5px;
  line-height: 49.66px;
  font-weight: 300;
  letter-spacing: -.02em;
}

.slider__title span {
  text-transform: uppercase;
}

.burger {
  width: 25px;
  margin: auto;
  padding: 5px;
  padding-top: 0;
}

.burger-brick {
  height: 2px;
  background: #fff;
  margin-top: 5px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.open .burger-brick:first-child {
  -webkit-transform: rotate(405deg);
  -ms-transform: rotate(405deg);
  transform: rotate(405deg);
  margin-top: 5px;
}

.open .burger-brick:last-child {
  -webkit-transform: rotate(-405deg);
  -ms-transform: rotate(-405deg);
  transform: rotate(-405deg);
  margin-top: -9px;
}

.open .middle {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.burger:hover .burger-brick {
  background-color: #fff;
}

.burger:active .burger-brick {
  background-color: #fff;
  opacity: .3;
}

@font-face {
  font-family:'Open Sans';src:url("../fonts/Open Sans Light.eot");src:url("../fonts/Open Sans Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans Light.woff") format("woff"), url("../fonts/Open Sans Light.ttf") format("truetype"), url("../fonts/Open Sans Light.svg#Open Sans Light") format("svg");font-weight:300;font-style:normal;font-stretch:normal;unicode-range:U+0020-FFFD;
}

@font-face {
  font-family:'Open Sans';src:url("../fonts/Open Sans Bold.eot");src:url("../fonts/Open Sans Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans Bold.woff") format("woff"), url("../fonts/Open Sans Bold.ttf") format("truetype"), url("../fonts/Open Sans Bold.svg#Open Sans Bold") format("svg");font-weight:700;font-style:normal;font-stretch:normal;unicode-range:U+0020-FFFD;
}

@font-face {
  font-family:'Open Sans';src:url("../fonts/Open Sans.eot");src:url("../fonts/Open Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans.woff") format("woff"), url("../fonts/Open Sans.ttf") format("truetype"), url("../fonts/Open Sans.svg#Open Sans") format("svg");font-weight:400;font-style:normal;font-stretch:normal;unicode-range:U+0020-FFFD;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    min-height: 100hv;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .main-wrapper {
    padding: 0 15px;
  }

  .wrapper--header {
    padding: 0;
    padding-top: 23px;
    padding-bottom: 20px;
  }

  .header__top-line {
    margin: 0;
  }

  .header__bottom-line {
    padding: 0;
    border: none;
  }

  .logo {
    width: auto;
    margin-right: 5.7%;
    padding: 0;
  }

  .logo__img {
    width: 179px;
    height: 23px;
    padding: 0;
  }

  .logo__text {
    margin-top: 0;
    letter-spacing: -.05em;
  }

  ::-webkit-input-placeholder {
    font-size: 10.16px;
  }

  ::-moz-placeholder {
    font-size: 10.16px;
  }

  :-moz-placeholder {
    font-size: 10.16px;
  }

  :-ms-input-placeholder {
    font-size: 10.16px;
  }

  .header-form {
    width: 185px;
    margin-right: 28px;
  }

  _:-moz-tree-row(hover),.header-form {
    margin-right: 28px;
  }

  .header-form__search {
    padding: 9px;
    font-size: 10.16px;
    font-weight: 700;
  }

  _:-moz-tree-row(hover),.header-form__search {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .header-form-btn {
    width: 11px;
    height: 11px;
    margin-top: -5px;
    background-size: contain;
  }

  _:-moz-tree-row(hover),.header-form-btn {
    right: 3px;
  }

  .contacts__text--big {
    margin-right: 20px;
    font-size: 15.24px;
    line-height: 15px;
  }

  .contacts__text--small {
    font-size: 9px;
    line-height: 15px;
  }

  .contacts__text--small:first-child {
    line-height: 6px;
  }

  .contacts__text--small:last-child {
    line-height: 18px;
  }

  _:-moz-tree-row(hover),.contacts__text--big {
    margin-right: 10px;
  }

  .contacts {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .user-block {
    margin-bottom: 3px;
    padding-right: 15px;
  }

  .cart {
    padding-left: 26px;
  }

  .cart::before {
    width: 20px;
    height: 16px;
    background-size: cover;
  }

  _:-moz-tree-row(hover),.cart::before {
    left: 1px;
  }

  .cart__empty {
    font-size: 12px;
  }

  .cart__full {
    padding: 5px 0;
    padding-top: 0;
  }

  .cart__items {
    width: 19px;
    height: 17px;
  }

  _:-moz-tree-row(hover),.cart__items {
    margin-right: 6px;
  }

  .cart__items-number {
    font-size: 12px;
  }

  .cart__text {
    font-size: 10px;
  }

  .cart__price {
    margin-left: 3px;
    font-size: 12px;
    font-weight: 700;
  }

  .user-block__login {
    padding-left: 20px;
    padding-top: 2px;
    color: #000;
    font-size: 12px;
  }

  .user-block__login::before {
    width: 16px;
    height: 14px;
    margin-top: -11px;
    background-size: cover;
  }

  _:-moz-tree-row(hover),.user-block__login {
    padding-left: 23px;
  }

  .nav {
    padding: 0 15px;
    border-top: 1px solid #dddfdf;
    border-bottom: 1px solid #dddfdf;
  }

  .nav__link {
    font-size: 11.7px;
    font-weight: 700;
    letter-spacing: 0;
  }

  .nav__link--catalog {
    padding-right: 18px;
    padding-left: 26px;
  }

  .nav__link--catalog::after {
    right: 3px;
  }

  _:-moz-tree-row(hover),.nav__link {
    padding-bottom: 18px;
  }

  .nav__link-wrapper {
    top: 37px;
    left: -2px;
  }

  .slider__title-block {
    top: 30%;
    left: 5%;
    width: 287px;
    padding-left: 16px;
  }

  .slider__title {
    padding-top: 6px;
    padding-bottom: 13px;
    font-size: 22.86px;
    line-height: 23px;
    letter-spacing: .02em;
  }

  .slick-arrow {
    top: 31%;
    width: 18px;
    height: 65px;
  }

  .slick-arrow span {
    width: 13px;
    height: 13px;
    border-left: 4px solid #fff;
    border-bottom: 4px solid #fff;
  }

  .slick-arrow:hover span,.slick-arrow:focus span {
    border-left: 4px solid #d7a975;
    border-bottom: 4px solid #d7a975;
  }

  .slider {
    height: 164px;
  }

  .slider__img {
    height: 164px;
  }

  .header__mobile {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .wrapper--header {
    padding-left: 0;
    padding-right: 0;
  }

  .slider,.slider__img {
    height: 260px;
  }

  .slider__title-block {
    top: 31%;
  }

  .slick-arrow {
    top: 31%;
  }

  .nav {
    border-top: 1px solid #dddfdf;
    border-bottom: 1px solid #dddfdf;
  }

  .header__bottom-line {
    border: none;
  }

  .contacts__text {
    font-size: 16px;
  }

  .contacts__text--big {
    margin-right: 15px;
  }

  .contacts__text--small {
    font-size: 16px;
  }
}

@media screen and (max-width: 1400px) {
  .header__bottom-line {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .header__list {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
  }

  .user-block {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
  }

  .slider__title-block {
    top: 31%;
  }
}

@media screen and (max-width: 767px) {
  .mobile__list {
    width: 100%;
  }

  .mobile__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 10px;
  }

  .mobile__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
    height: 40px;
    list-style: none;
    background-color: #f0f1f6;
  }

  .mobile__link {
    width: 100%;
    height: 100%;
    background-size: contain;
  }

  .mobile__link--burger {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .mobile__link--burger {
    padding: 0;
    background-color: #3eade2;
  }

  .mobile__link:hover,.mobile__link:focus {
    background-color: #cd9f69;
  }

  .mobile__link--home {
    background: transparent url("../img/home-mob.png") no-repeat center;
  }

  .mobile__link--search {
    background: transparent url("../img/search-mob.png") no-repeat center;
  }

  .mobile__link--cart {
    background: transparent url("../img/cart-mob.png") no-repeat center;
  }

  .mobile__link--user {
    background: transparent url("../img/user-mob.png") no-repeat center;
  }

  .mobile__link--phone {
    background: transparent url("../img/phone-mob.png") no-repeat center;
  }

  .mobile__logo-img {
    width: 192px;
    height: 23px;
  }

  .mobile__logo-text {
    margin-top: 2px;
    padding: 0;
    color: #747688;
    font-size: 12.7px;
  }

  .mobile__logo {
    padding-top: 3px;
    padding-left: 20px;
  }

  .header__top-line,.header__bottom-line {
    display: none;
  }

  .main-wrapper {
    padding: 0;
  }

  .wrapper--header {
    padding: 0;
    padding-bottom: 17px;
  }

  .logo {
    padding-left: 20px;
  }

  .logo__text {
    margin-top: 0;
  }

  .slider__img {
    width: 100%;
    min-width: 320px;
  }

  .slider__title {
    padding-top: 3px;
    padding-bottom: 6px;
    font-size: 5vw;
    line-height: 1.2;
    letter-spacing: .03em;
  }

  .slider {
    height: auto;
  }

  .slider__img {
    height: auto;
  }

  .slider__title-block {
    top: 50%;
    left: 9%;
    width: 59%;
    height: 37%;
    margin-top: -7%;
    padding-left: 6px;
    font-size: 14px;
  }

  .slick-arrow {
    top: 50%;
    width: 6.3%;
    height: 21%;
    margin-top: -4%;
  }

  .slick-arrow span {
    width: 10px;
    height: 10px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-border-radius: 2px;
    border-radius: 2px;
  }

  .slick-arrow:hover span,.slick-arrow:focus span {
    border-left: 2px solid #d7a975;
    border-bottom: 2px solid #d7a975;
  }

  .nav {
    display: none;
  }

  .nav--mobile {
    position: absolute;
    top: 50px;
    display: block;
    background-color: #fff;
    z-index: 10;
  }

  .nav--mobile .nav__inner-link,.nav--mobile .nav__sub-link {
    font-size: 10px;
  }

  .nav--mobile .nav__sub-wrapper {
    left: 60%;
  }

  .nav--mobile .nav__sub-list {
    width: 170px;
    padding: 0;
  }

  .nav--mobile .nav__sub-title {
    padding-top: 5px;
    font-size: 12px;
  }
}
